[Desktop Entry]
Type=Link
Name=Puffin Internet Terminal (Demo)
Icon=puffin-internet-terminal-demo
URL=/usr/share/applications/puffin-internet-terminal-demo.desktop
